
# Remove all
*


# Only store files below (with ! before path/expression)

!assets/
!assets/**

!include/
!include/**

!src/
!src/**

!test/
!test/**

!vendor/
!vendor/**

!.gitignore
!.gitmodules

!cmakelists.txt


# Extra rules over whitelist
.DS_Store
